<div class="container-sm p-3">
  <h1>Welcome to the ask page!</h1>

  <form action="/answer" method="get" data-turbo="false">
  <div class="form-group">
      <input type="text" name="answer" placeholder="What do you want to ask the coach?" class="form-control">
  </div>
  <input type="submit" value="Ask!" class="btn btn-primary mt-2">
  </form>
</div>
