<div class="container-sm">

  <h1>A Greeting for You!</h1>
  <p><%= @message %></p>

  <%# <h1>Questions#hello</h1>
  <p>Find me in app/views/questions/hello.html.erb</p> %>


  <form action="???" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" name="???" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>

</div>
